<h3>Log In to your MyKadima account:</h3>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "Log in" %><br><br>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
  <% end %>

<!-- link to login with Git Hub or Facebook will go here! >
