<br>
<br>
<h3 class="text-center">Log In to your MyKadima account:</h3>

<%= form_for @user, url: login_path, method: :post, html: {:class => "form-horizontal text-center"} do |f| %>
  <%= f.text_field :username, placeholder: :username %><br>
  <%= f.password_field :password, placeholder: :password %><br>
  <%= f.submit "Log in", class: "btn btn-primary" %><br>
  <% end %>
<h5 class="text-center">OR</h5>
<%= link_to image_tag("facebook_login.png"),'/auth/facebook' %>
<!-- <p class="text-center"><a href='/auth/facebook'>Login with Facebook</a></p> -->
<br><br>
<p class="text-center">Need an account? <%= link_to "Sign Up", new_user_path %></p>
