<%= @user.username %> Profile

<%= link_to "Add a New Game", new_game_path %>

<h3>Your Stats:</h3>

<p><strong>High Score for One-on-One Game: <strong><%= @user.high_score_single %> volleys with Player <%= @user.best_partner %></p><br>

<p><strong>High Score for Group Game: <strong><%= @user.high_score_group %> volleys with Players <%= @user.best_group %></p><br>

<p><strong>Number of Games: <strong><%= @user.games.count %></p><br>

<p><strong>Favorite Partner: <strong><%= @user.frequent_partner %></p><br>

<p><strong>Favorite Location: <strong><%= @user.frequent_location %></p><br>
