<%= form_for game do |f| %>

  <%= f.label :date_played %>
  <%= f.date_select(:date_played, :order => [:month, :day, :year]) %><br><br>

  <%= f.label :volley_total, "Number of Consecutive Volleys" %>
  <%= f.text_field :volley_total %><br><br>

  <%= f.fields_for :location do |loc| %>
    <%= loc.label :name, "Location" %>
    <%= loc.text_field :name, list: 'locations_autocomplete' %>
      <datalist id="locations_autocomplete">
        <% Location.all.each do |location| %>
          <option value="<%= location.name %>"><%= location.city %>, <%= location.state %></option>
        <% end %>
      </datalist>
  <% end %><br><br>

  <%= f.label :game_type %>
  <%= f.select(:game_type, game_type_options, :include_blank => true) %><br><br>

  <%= f.label :played_with, "List Players by Username" %>
  <%= f.text_field :played_with %><br><br>

  <%= f.label :distance, "Distance (short < 7ft, long > 15ft)" %>
  <%= f.select(:distance, distance_options, :include_blank => true) %><br><br>

  <%= f.submit :class => "btn btn-primary" %>  <%= link_to "Back to Profile", user_path(current_user), class: "btn btn-primary" %>
<% end %>
