<br>
<br>
<h3><%= current_user.username %>'s Games</h3>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Game Type</th>
        <th>Distance</th>
        <th>Volley Count</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>

        <tr class="clickable-row" data-href="<%= game_path(game) %>">
          <td><%= link_to date_formatted(game), game_path(game) %></td>
          <td><%= link_to game.game_type, game_path(game) %></td>
          <td><%= link_to game.distance, game_path(game) %></td>
          <td><%= link_to game.volley_total, game_path(game) %></td>
          <td><%= link_to game.player_names, game_path(game) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @games.empty? %>
  <%= "No games." %>
<% end %>
