<h3>Kadima Locations</h3>
<br>
<ul>
<% @locations.each do |location| %>
  <li><strong><%= link_to location.name, location_path(location) %></strong><br>
    <%= location.city %>, <%= location.state %><br>
    <%= link_to "Edit", edit_location_path(location), :class => "btn btn-xs btn-default" %>
    <i><%= info_needed(location) %></i>
  </li><br>
<% end %>
</ul>
