<h3><%= @location.name %> Information </h3>
<h4><%= @location.city%>, <%= @location.state %></h4><br>

<p>Ranked #<%= @location.rank %> of <%=Location.all.count%> locations, based on number of games played there.</p>
<br>
<p>Turf: <%= @location.turf %></p>
<br>
<% if @location.lighting %>
  <p><strong>This location has lighting at night!</strong></p>
<% else %>
  <p>This location is NOT lit at night.</p>
<% end %>
<br>
<br>
<%= link_to "Edit Location", edit_location_path(@location), :class => "btn btn-primary edit-locations" %>
<%= link_to "See All Locations", locations_path, :class => "btn btn-primary see-locations" %>
