<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- TOGGLE AND BRAND FOR BETTER MOBILE DISPLAY -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MK!</a>
    </div>
    <!-- LEFT LINKS -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="active"> <%= link_to "Home", root_path %> </li>

          <% if logged_in? %>
            <li><%= link_to "#{current_user.username}'s Profile", user_path(current_user) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "See My Games", user_games_path(current_user), :data => {:userid => current_user.id}, :class => "see-games" %></li>
                <li><%= link_to "Add a New Game", new_user_game_path(current_user), :class => "add-game" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "See Locations", locations_path, :class => "see-locations" %></li>
                <li><%= link_to "Add a New Location", new_location_path, :class => "add-locations" %></li>
              </ul>
            </li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li> <%= link_to "Log Out", logout_path %> </li>

          <% else %>
            <li> <%= link_to "Sign Up", new_user_path %> </li>
            <li> <%= link_to "Log In", login_path %> </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
