<!DOCTYPE html>
<html>
  <head>
    <title>MyKadimaRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav'%>
    <%= render 'messages' %>
    <%= yield %>
  </body>
</html>
